{% extends 'base.html' %}

{% block content %}

<br><br>

<div class=container>

    <div class="card mb-3">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="{{ products.image.url }}" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title text-center">{{ products.name }}</h5>
                    <p class="card-title text-center">{{products.description}}</p>
                    {% if products.is_sale %}
                    <div class="d-flex justify-content-center small text-warning mb-2">
                        <div class="bi-star-fill"></div>
                        &nbsp;&nbsp;Sale!!&nbsp;&nbsp;
                        <div class="bi-star-fill"></div>
                    </div>
    
                    <!-- Product price-->
                    <p class="text-center"><strike>₹{{products.price}}</strike>&nbsp;₹{{products.sale_price}}</p>
                    {% else %}
                    <p class="text-center">₹{{products.price}}</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    
</div>

{% endblock %}