{% extends 'base.html' %}

{% block content %}

<br><br>

<div class=container>

    <div class="card mb-3">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="{{ products.image.url }}" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title text-center">{{ products.p_name }}</h5>
                    <p class="card-title text-center">{{products.description}}</p>
                    <br/> 
                    {% if products.is_sale %}
                    <div class="d-flex justify-content-center small text-warning mb-2">
                        <div class="bi-star-fill"></div>
                        &nbsp;&nbsp;Sale!!&nbsp;&nbsp;
                        <div class="bi-star-fill"></div>
                        
                    </div>
    
                    <!-- Product price-->
                    <p class="text-center"><strike>₹{{products.price}}</strike>&nbsp;₹{{products.sale_price}}</p>
                    
                    {% else %}
                    ₹{{products.price}}
                    
                    {% endif %}
                    <br><br>
                    <div class="row justify-content-center" id="qty-cart">
                        <div class="col-md-2">Quantity:</div>
                        <div class="col-md-2">
                             <select class="form-select" >
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3 </option>
                            </select>
                        </div>
                    </div>
                    <br/><br/>
                    <div class="text-center">
                        <button type="submit" class="btn btn-secondary" value="{{ products.id }}" id="add-cart">Add to cart</button>
                    </div>
                    
            </div>
        </div>
    </div>
    
</div>
<script>

$(document).on('click', '#add-cart', function (e) {
    e.preventDefault();
    $.ajax({
        type: 'POST',
        url: '{% url 'cart_add' %}',
        data: {
            product_id: $('#add-cart').val(),
            product_qty:$('#qty-cart option:selected').text(),
            csrfmiddlewaretoken: '{{ csrf_token }}',
            action: 'post'
        },
        success: function (json) {
            console.log(json);
            document.getElementById("cart_quantity").innerText = json.qty;
        },
        error: function (xhr, errmsg, err) {
            // Handle error if needed
        }
    });
});

</script>
{% endblock %}